<div>
    <!-- <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" *ngIf="type==='square-jelly-box'" [fullScreen]="true">
      <p style="color: white"> Loading... </p>
    </ngx-spinner> -->

    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" *ngIf="type === 'square-jelly-box'" [fullScreen] = "true">
      <p style="color: white" > Loading... </p>
    </ngx-spinner>
    <!-- <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "small" *ngIf="type==='square-jelly-box'" [fullScreen] = "true" 
    template = "<iframe src='../../../../assets/img/img.gif'
     width='600' height='500' 'text-center' frameBorder='0' allowFullScreen></iframe>"></ngx-spinner> -->

     <!-- <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" *ngIf="type==='square-jelly-box'" 
     [fullScreen] = "true" template = "<iframe src='../../../../assets/img/giphy.webp' 
     width='400' height='400' frameBorder='0' allowFullScreen></iframe>"></ngx-spinner> -->
  </div>